apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsecops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devsecops-app
  template:
    metadata:
      labels:
        app: devsecops-app
    spec:
      containers:
      - name: devsecops-container
        # Yahan apna asli DockerHub username likhna hai
        image: zainabtech18/devsecops-final:latest 
        ports:
        - containerPort: 5000
